@CHARSET "UTF-8";

.quotes {
	width:300px;
}

.quotes .mportal-ru {
	width:300px;
}

.quotes .mportal-ru table {
	width:300px;
	background: #fff;
}

.quotes .lme {
	width:300px;
}

.quotes .lme table {
	width:300px;
	background: #fff;
}

